### General Output
out
*.out
*.exe
build
!build/Readme.md

### CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

### Vim / Emacs
*~
\#*#

### C
*.o
*.a
